body {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  background-color: #333;
}

.sub-bd {
  position: relative;
  min-height: calc(100vh - 80px);
  min-width: 100%;
  overflow: hidden;
  background-image: url("./assets/login.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  min-width: 100vw;
}

.sub-bd::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 34, 34, 0.8);
  z-index: 1;
}
